/* add css module styles here (optional) */

.containerVirtualTable {
 	flex-grow: 1;
  	display: flex;
	flex-direction: column;
}

.pathInput {
    background-color: var(--tablereact-main-background-color);
    color: var(--tablereact-main-color);  
    margin-left: 3px;
    margin-right: 3px;
    border-style: none;
    width: calc(100% - 6px);
    outline-style: none;
    font-family: sans-serif;
}