/* add css module styles here (optional) */






.rootVirtualTable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #444;
}
.containerVirtualTable {
  flex-grow: 1;
  padding: 20px;
  display: flex;
}
