/* add css module styles here (optional) */

.enter {
    opacity: 0;
    width: 0%;
    height: 0px;    
}
.exit {
    opacity: 1;
    width: 70%;
    height: 18px;    
}
.enterActive {
    opacity: 1;
    width: 70%;
    height: 18px;    
    transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}
.exitActive {
    opacity: 0;
    width: 0%;
    height: 0px;    
    transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}