:root {  
	--tablereact-main-background-color: white;
	--tablereact-selected-color:  white;
	--tablereact-selected-background-color: blue;
	--tablereact-columns-separator-color:  white;
	--tablereact-selected-background-hover-color: #0063ff;
    --tablereact-is-selected-color:  white;
	--tablereact-is-selected-background-color: blue;
	--tablereact-item-selected-color: lightgray;
    --tablereact-item-selected-focus-color: red;

    --tablereact-scrollbar-width: 16px;
    --tablereact-scrollbar-border-width: 1px;
    --tablereact-scrollbar-background-color: azure;
    --tablereact-scrollbar-border-color: gray;
    --tablereact-scrollbar-background-hover-color: azure;
    --tablereact-scrollbar-grip-color: rgb(209, 209, 209);
    --tablereact-scrollbar-grip-hover-color: #bbb;
    --tablereact-scrollbar-grip-active-color: #999;
	--tablereact-scrollbar-grip-width: 100%; 
    --tablereact-scrollbar-button-color: #666;
    --tablereact-scrollbar-button-hover-color: #555;
    --tablereact-scrollbar-button-active-color: #444;
    --tablereact-scrollbar-button-background-color: white;
    --tablereact-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablereact-scrollbar-button-active-background-color: #aaa;
    --tablereact-scrollbar-right-margin: 16px;
}
