:root { 
	--tablereact-main-background-color: #fcfcfc;
    --tablereact-selected-color:  #737373;
    --tablereact-table-selected-background-color: #e95420;
	--tablereact-selected-background-color: #eff0f1;
	--tablereact-columns-separator-color:  #737373;
	--tablereact-selected-background-hover-color: #e2e2e2;
    --tablereact-is-selected-color:  white;
	--tablereact-is-selected-background-color: #e95420;
    --tablereact-item-selected-color: lightgray;
    --tablereact-item-selected-focus-color: #494646;

    --tablereact-scrollbar-width: 12px;
    --tablereact-scrollbar-border-width: 0px;
    --tablereact-scrollbar-background-color: transparent;
	--tablereact-scrollbar-background-hover-color: rgba(192, 192, 192, 0.6);
	--tablereact-scrollbar-grip-radius: 999px;
    --tablereact-scrollbar-grip-color: gray;    
    --tablereact-scrollbar-grip-hover-color: gray;    
    --tablereact-scrollbar-grip-active-color: var(--tablereact-table-selected-background-color);    
	--tablereact-scrollbar-grip-width: 4px; 
	--tablereact-scrollbar-grip-right: 1px; 
    --tablereact-scrollbar-button-display: none; 
    --tablereact-scrollbar-button-color: #666;
    --tablereact-scrollbar-button-hover-color: #555;
    --tablereact-scrollbar-button-active-color: #444;
    --tablereact-scrollbar-button-background-color: white;
    --tablereact-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablereact-scrollbar-button-active-background-color: #aaa;
    --tablereact-scrollbar-right-margin: 6px;

    --gridsplitter-grip-color: lightgray;
    --gridsplitter-grip-hover-color: darkgray;
    --gridsplitter-grip-active-color: #6b6969;
}
body {
    font-size: 80%;
}
