body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
}
#root {
	display: flex;
    width: 100%;	
	overflow: hidden;
}

#root>div {
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.folderTest {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.commander {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}