body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
}
#root {
	display: flex;
    width: 100%;	
	overflow: hidden;
}

#root>div {
	flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.folderTest {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.commander {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.svg {
    width: 16px;
    height: 16px;
	vertical-align: bottom;
    margin-right: 3px;	
}
.svg>.path {
	fill: var(--tablereact-main-color);
}
.tableItemReactIsSelected .svg>.path {
	fill: var(--tablereact-is-selected-color);
}